
@media(min-width:576px){
 
    .pad {
    padding : 40px 0;
}
    
}

@media(min-width:768px){
 
.interests figure img {
    max-width: 70%;
}
    
}




@media(min-width:992px){
   
        .pad {
    padding : 40px !important;
}

.interests figure img {
    max-width: 50%;
}
    
}

@media(min-width:1200px){
   
    
    
}