
@media(min-width:576px){


    #right-side-wrapper section:after{
        display: block;
    }
    

    #right-side-wrapper section{
        padding: 40px 40px 40px 100px;
    }

    #right-side-wrapper section h2{
        margin-left: 0px;
    }


}

@media(min-width:768px){

    .interests figure img {
        max-width: 70%;
    }
    
    #right-side-wrapper .links{
    padding: 40px 100px 40px 100px;
    }

}




@media(min-width:992px){

    .pad {
        padding : 40px !important;
    }

    .interests figure img {
        max-width: 50%;
    }

}

@media(min-width:1200px){



}