
@media(min-width:576px){


    #right-side-wrapper section:after{
        display: block;
    }


    #right-side-wrapper section{
        padding: 30px 30px 30px 30px;
    }

    #right-side-wrapper section h2{
        margin-left: 0px;
    }


    .card-last .card-body1{
        width: 50%;
    }

    .card-last figure{
        width: 50%;
    }
    
}

@media(min-width:768px){

    .interests figure img {
        max-width: 70%;
    }

    #right-side-wrapper .links {
    padding: 15px 100px 18px 100px;
}

}




@media(min-width:992px){

    .pad {
        padding : 30px !important;
    }

    .interests figure img {
        max-width: 50%;
    }

}

@media(min-width:1200px){



}