/*-----------GENERAL-----------*/
html{
    font-size: 14px;
}

body{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 1%, #e3e3e3 57%, #e3e3e3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 1%,#e3e3e3 57%,#e3e3e3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 1%,#e3e3e3 57%,#e3e3e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
}

.inactive{
    overflow: hidden;
}

img{
    max-width: 100%;
}

p{
    line-height: 1.7;
}

h2{
    font-weight: bold;
}

.box-shadow{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
    -moz-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
    box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
}

/*-----------HEADER-----------*/

header{
    position: relative;
}

header .logo-overlay{
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #fff;
    width: 77%;
}

header .logo-overlay h2{
    font-size: 44px;
}

header .logo-overlay h3{
    font-size: 22px;
    font-weight: 300;
}

/*-----------LEFT SIDEBAR-----------*/

.left-column{
    background: #356aa0;
    color: #fff;
    padding: 30px 0;
}

.left-column section{
    margin-bottom: 30px;
}

.left-column section:last-of-type article{
    border-bottom: none;
}

.left-column article{
    border-bottom: 1px solid #7C8B9B;
    padding-right: 45px;
    width: 80%;
    padding-bottom: 10px;
}

.left-column article p{
    line-height: 1.8;
}

.left-column figure{
    width: 25%;
    margin-top: 5px;
}


.left-column figure img{
    max-width: 25px;
}


.left-column .mail a,
.left-column .mail a:visited{
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.left-column .mail a:hover{
    color: #7C8B9B;
}

.left-column .skills .skills-wrapper{
    padding-top: 15px;
}
.left-column .skills .skills-wrapper .skill{
    padding-top: 20px;
}

.left-column .skills .bar{
    height: 2px;
    background: #15416e;
}

.left-column .skills .bar .bar-progress{
    height: 2px;
    background: #fff;
    position: relative;
    transition: 1s linear;
    width: 0;
}

.left-column .skills .bar .bar-progress span{
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    right: 0;
    background: #fff;
    border-radius: 50%;
}





/*-----------MAIN-----------*/

.pad {
    padding: 30px;

}

/*-----------EXPERIENCES-----------*/


#right-side-wrapper section{
    position: relative;
    background: #fff;
    padding: 30px 30px 30px 30px;
    color: #737373;
    margin-bottom: 40px;
}

#right-side-wrapper section:last-of-type{
    margin-bottom: 0;
}

#right-side-wrapper section h2{
    margin-left: 60px;
    margin-top: 10px;
}

#right-side-wrapper .experiences:after,
#right-side-wrapper .education:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 55px;
    top: 30px;
    left: 30px;
    background: url("assets/work.png") no-repeat center center;
    background-size: contain;
}

#right-side-wrapper .education:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 55px;
    top: 30px;
    left: 30px;
    background: url("assets/graduate.png") no-repeat center center;
    background-size: contain;
}

#right-side-wrapper .interests:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 55px;
    top: 30px;
    left: 30px;
    background: url("assets/watch.png") no-repeat center center;
    background-size: contain;
}


#right-side-wrapper article{
    padding-top: 25px;
    padding-bottom: 10px;
}


#right-side-wrapper article:first-of-type{
    padding-top: 5px;
}


#right-side-wrapper article + article{
    border-top: 1px solid #ccc;
}


#right-side-wrapper h2{
    margin-bottom: 20px;
}


#right-side-wrapper h3{
    font-size: 20px;
}


#right-side-wrapper span.date{
    font-size: 16px;
    color: #356aa0;
    font-weight: 300;
}

#right-side-wrapper .links{
    padding: 30px 30px 30px 30px;
}


#right-side-wrapper .links a{
    text-decoration: none;
    color: #356aa0;
    margin-right: 5px;
}

#right-side-wrapper .letter{
    padding: 30px 30px 30px 30px;
}


#right-side-wrapper .letter .signature{
    font-family: 'Courgette', cursive;
}


.interests figure img {
    max-width: 70%;
}

.interests article {
    padding-top: 30px;
}

#right-side-wrapper .portfolio{
    position: relative;
    background: none;
    padding: 0;
    color: #737373;
    margin-bottom: 20px;
}

/*#right-side-wrapper .portfolio .masonery .col-md-6{
    padding-right: 0;
}*/

#right-side-wrapper .single{
    padding: 0;
}

#right-side-wrapper .single .card-body1{
    background: #fff;
    margin-bottom: 20px;
}

#right-side-wrapper .single .card-head{
    padding: 20px 25px;
    color: #fff;
}

#right-side-wrapper .single .card-content{
    padding: 20px 25px;
}

#right-side-wrapper .comments{
    padding: 0;
    background: none;
}

#right-side-wrapper .comment{
    background: #fff;
}

#right-side-wrapper .comments figure{
    max-width: 20%;
    min-width: 65px;
    max-height: 140px;
    overflow: hidden;
}

#right-side-wrapper .comment-content{
    padding: 10px 15px;
}

#right-side-wrapper .comment-content{
    padding: 10px 15px;
}

/*-----------BOOTSTRAP-----------*/


.masonery .card-body1{
    background: #fff;
    margin-bottom: 20px;
}

.masonery .card-head{
    padding: 15px 15px;
    color: #fff;
}
.masonery .card-content{
    padding: 15px;
}

figure{
    margin: 0;
}

header{
    position: relative;
}

.toggle-menu{
    padding: 10px;
    border: 1px solid #356aa0;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    border-radius: 4px;
    background: #356aa0;
    color: #fff;
    cursor: pointer;
}

.toggle-menu span{
    display: block;
    height: 2px;
    background: #fff;
    margin-bottom: 3px;
    width: 20px;
}

.toggle-menu span:last-of-type{
    margin-bottom: 0;
}

.menu-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 120;
    display: none;
}

.menu{
    position: fixed;
    left: -120%;
    top: 0;
    z-index: 160;
    transition: 1s ease;
    height: 100vh;
}

.menu.active{
    left: 0px;
}

.menu .side-menu{
    height: 100vh;
    background: #fff;
    padding: 15px 20px;
    min-width: 200px;

}

.menu .side-menu a{
    display: block;
    color: #737373;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.addthis_inline_share_toolbox{
    margin-bottom: 10px;
}





/*-----------ANIMACIJE-----------*/
/*.animation{
    visibility: hidden;
    position: relative;
    transition: 1s linear;
}

@keyframes slideLeft{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.slideLeft{
    animation-name: slideLeft;
    visibility: visible;
    animation-duration: 1s;
}*/

