/*-----------GENERAL-----------*/
html{
    font-size: 14px;
    font-weight: 300;
}

img{
    max-width: 100%;
}

h2{
    font-weight: bold;
}

/*-----------HEADER-----------*/

header{
    position: relative;
}

header .logo-overlay{
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #fff;
    width: 77%;
}

header .logo-overlay h2{
    font-size: 44px;
}

header .logo-overlay h3{
    font-size: 22px;
    font-weight: 300;
}

/*-----------LEFT SIDEBAR-----------*/

.left-column{
    background: #356aa0;
    color: #fff;
    padding: 30px 0;
}

.left-column section:last-of-type article{
    border-bottom: none;
}

.left-column article{
    border-bottom: 1px solid #7C8B9B;
    padding: 15px 0;
    padding-right: 45px;
    width: 80%;
}

.left-column article p{
    line-height: 1.8;
}

.left-column figure{
    width: 25%;
}


.left-column figure img{
    max-width: 25px;
}


.left-column .mail a,
.left-column .mail a:visited{
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.left-column .mail a:hover{
    color: #7C8B9B;
}

.left-column .skills .skills-wrapper{
    padding-top: 15px;
}
.left-column .skills .skills-wrapper .skill{
    padding-top: 20px;
}

.left-column .skills .bar{
    height: 2px;
    background: #15416e;
}

.left-column .skills .bar .bar-progress{
    height: 2px;
    background: #fff;
    width: 90%;
    position: relative;
}

.left-column .skills .bar .bar-progress span{
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    right: 0;
    background: #fff;
    border-radius: 50%;
}



/*-----------MAIN-----------*/

.pad {
    padding: 0px;

}

/*-----------EXPERIENCES-----------*/

.experiences{
    position: relative;
    background: #fff;
    padding: 30px 30px 30px 100px;
    color: #737373;
    
}

.experiences:after{
    position: absolute;
    content: '';
    width: 50px;
    height: 100%;
    top: 35px;
    left: 30px;
    background: url("assets/work.png") no-repeat;
}

.experiences article{
    padding-top: 20px;
}

.experiences article + article{
    border-top: 1px solid #ccc;
}

.experiences h2{
    margin-bottom: 20px;
}

.experiences h3{
    font-size: 20px;
}

.experiences span{
    font-size: 16px;
    color: #38a4dd;
    font-weight: 300;
}
