/*-----------General-----------*/
html{
    font-size: 14px;
    font-weight: 300;
}

img{
    max-width: 100%;
}

/*-----------HEADER-----------*/

header{
    position: relative;
}

header .logo-overlay{
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #fff;
    width: 77%;
}

header .logo-overlay h2{
    font-size: 44px;
}

header .logo-overlay h3{
    font-size: 22px;
    font-weight: 300;
}

/*-----------LEFT SIDEBAR-----------*/

.left-column{
    background: #38a4dd;
    color: #fff;
    padding: 30px 0;
}

.left-column article{
    padding-right: 45px;
    width: 80%;
}

.left-column article p{
    line-height: 1.8;
}

.left-column figure{
    width: 25%;
}


.left-column figure img{
    max-width: 25px;
}

.left-column article{
    border-bottom: 1px solid #1b87c9;
}

.about{

}



/*-----------MAIN-----------*/

.pad {
    padding: 0px;

}

/*-----------EXPERIENCES-----------*/

.experiences{
    position: relative;
    background: #fff;
    padding: 30px 30px 30px 100px;
    color: #737373;
}

.experiences:after{
    position: absolute;
    content: '';
    width: 50px;
    height: 100%;
    top: 35px;
    left: 30px;
    background: url("assets/work.png") no-repeat;
}

.experiences article{
    padding-top: 20px;
}

.experiences article + article{
    border-top: 1px solid #ccc;
}

.experiences h2{
    margin-bottom: 20px;
}

.experiences h3{
    font-weight: 300;
    font-size: 20px;
}

.experiences span{
    font-size: 16px;
    color: #38a4dd;
    font-weight: 300;
}
