/*-----------GENERAL-----------*/
html{
    font-size: 14px;
    font-weight: 300;
}

img{
    max-width: 100%;
}

p{
    line-height: 1.7;
}

h2{
    font-weight: bold;
}

.box-shadow{
    -webkit-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
    -moz-box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
    box-shadow: 3px 3px 6px 0px rgba(153,153,153,1);
}

/*-----------HEADER-----------*/

header{
    position: relative;
}

header .logo-overlay{
    position: absolute;
    bottom: 10px;
    right: 0;
    color: #fff;
    width: 77%;
}

header .logo-overlay h2{
    font-size: 44px;
}

header .logo-overlay h3{
    font-size: 22px;
    font-weight: 300;
}

/*-----------LEFT SIDEBAR-----------*/

.left-column{
    background: #356aa0;
    color: #fff;
    padding: 30px 0;
}

.left-column section{
    margin-bottom: 30px;
}

.left-column section:last-of-type article{
    border-bottom: none;
}

.left-column article{
    border-bottom: 1px solid #7C8B9B;
    padding-right: 45px;
    width: 80%;
    padding-bottom: 10px;
}

.left-column article p{
    line-height: 1.8;
}

.left-column figure{
    width: 25%;
    margin-top: 5px;
}


.left-column figure img{
    max-width: 25px;
}


.left-column .mail a,
.left-column .mail a:visited{
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
}

.left-column .mail a:hover{
    color: #7C8B9B;
}

.left-column .skills .skills-wrapper{
    padding-top: 15px;
}
.left-column .skills .skills-wrapper .skill{
    padding-top: 20px;
}

.left-column .skills .bar{
    height: 2px;
    background: #15416e;
}

.left-column .skills .bar .bar-progress{
    height: 2px;
    background: #fff;
    width: 90%;
    position: relative;
}

.left-column .skills .bar .bar-progress span{
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    right: 0;
    background: #fff;
    border-radius: 50%;
}





/*-----------MAIN-----------*/

.pad {
    padding: 30px;

}

/*-----------EXPERIENCES-----------*/


#right-side-wrapper section{
    position: relative;
    background: #fff;
    padding: 30px 30px 30px 30px;
    color: #737373;
    margin-bottom: 40px;
}

#right-side-wrapper section:last-of-type{
    margin-bottom: 0;
}

#right-side-wrapper section h2{
    margin-left: 60px;
    margin-top: 10px;
}

#right-side-wrapper .experiences:after,
#right-side-wrapper .education:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 55px;
    top: 30px;
    left: 30px;
    background: url("assets/work.png") no-repeat center center;
    background-size: contain;
}

#right-side-wrapper .education:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 55px;
    top: 30px;
    left: 30px;
    background: url("assets/graduate.png") no-repeat center center;
    background-size: contain;
}

#right-side-wrapper .interests:after{
    position: absolute;
    content: '';
    width: 45px;
    height: 55px;
    top: 30px;
    left: 30px;
    background: url("assets/watch.png") no-repeat center center;
    background-size: contain;
}


#right-side-wrapper article{
    padding-top: 25px;
    padding-bottom: 10px;
}


#right-side-wrapper article:first-of-type{
    padding-top: 5px;
}


#right-side-wrapper article + article{
    border-top: 1px solid #ccc;
}


#right-side-wrapper h2{
    margin-bottom: 20px;
}


#right-side-wrapper h3{
    font-size: 20px;
}


#right-side-wrapper span.date{
    font-size: 16px;
    color: #356aa0;
    font-weight: 300;
}

#right-side-wrapper .links{
    padding: 30px 30px 30px 30px;
}


#right-side-wrapper .links a{
    text-decoration: none;
    color: #356aa0;
}

#right-side-wrapper .letter{
    padding: 30px 30px 30px 30px;
}


#right-side-wrapper .letter .signature{
    font-family: 'Courgette', cursive;
}


.interests figure img {
    max-width: 70%;
}

.interests article {
    padding-top: 30px;
}

#right-side-wrapper .portfolio{
    position: relative;
    background: none;
    padding: 0;
    color: #737373;
    margin-bottom: 40px;
}

/*-----------BOOTSTRAP-----------*/
.card-columns {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

.card-columns .card {
    margin-bottom: 1.25rem;
    border-radius: 0;
}

.card-columns .card img{
    border-radius: 0;
}

.card-columns .card-head{
    padding: 15px 15px;
    color: #fff;
}
.card-columns .card-content{
    padding: 15px;
}

.card-last{
    background: #fff;
}

.card-last .card-body1{
    width: 100%;
}

.card-last .card-head{
    padding: 15px 15px;
    color: #fff;
}

.card-last .card-content{
    padding: 15px;
}

.card-last figure{
    width: 100%;
}

.card-last .card-body1{
    flex-direction: column;
}

.card-last figure img{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

figure{
    margin: 0;
}

